body {
  min-width: 250px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  background-color: #f8f6f2;
}

header {
  height: 45px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e1ddd8;
}

#logo {
  display: block;
  position: relative;
  top: 15px;
  margin: 0px auto;
}

#wrapper {
  padding: 0px 20px;
}

#wrapper h1, h2 {
  text-align: center;
}



.footer {
  cursor: pointer;
  padding: 10px 40px;
  border-top: 1px solid #e1ddd8;
  color: black;
}

.footer:hover {
  background: linear-gradient(to bottom, rgba(70, 50, 0, 0.1), rgba(70, 50, 0, 0.1));
}

.dow {
  color: black;
}
