@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), 
    url('fonts/roboto-regular.woff2') format('woff2'), 
    url('fonts/roboto-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto'), local('Roboto-Bold'), 
    url('fonts/roboto-700.woff2') format('woff2'), 
    url('fonts/roboto-700.woff') format('woff');
}

body
{
  min-width: 250px;
  margin: 0px;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 13px;
  background-color: #f8f6f2;
}

header
{
  height: 45px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e1ddd8;
}

#logo
{
  display: block;
  position: relative;
  top: 15px;
  margin: 0px auto;
}

#wrapper
{
  padding: 0px 20px;
}

footer
{
  cursor: pointer;
  padding: 10px 35px;
  border-top: 1px solid #e1ddd8;
}

footer:hover
{
  background: linear-gradient(to bottom, rgba(70, 50, 0, 0.1), rgba(70, 50, 0, 0.1));
}

.li
{
  list-style-type: none;
  border-top: 1px dashed #a5a4a1;
}

label
{
  vertical-align: middle;
}

.btn {
  cursor: pointer;
}